extends ./layout/index

block contenido 
    main.container.mt-5  
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1=pagina

                blockquote ipsum dolor sit amet consectetur adipisicing elit. Consectetur libero officiis laborum animi repellat vel odio quae sed sequi ipsam suscipit maxime voluptatum, harum nemo totam consequuntur ipsa. Dolor, ab.
                p ipsum dolor sit amet consectetur adipisicing elit. Ratione rem incidunt, quo vero totam laboriosam odio laudantium ipsam ex deserunt voluptatum obcaecati distinctio voluptates molestiae nisi aperiam nihil molestias maiores?
                p ipsum dolor sit amet consectetur, adipisicing elit. A voluptas dolorem eum velit quia ea temporibus quo cumque dolorum expedita quisquam, consequatur quam, quod cupiditate ab totam quae natus consectetur.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, delectus! Et atque distinctio doloremque modi quos cumque, eum voluptates odit maxime? Repellendus quam nulla, quia rerum aliquid beatae in quidem.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, delectus! Et atque distinctio doloremque modi quos cumque, eum voluptates odit maxime? Repellendus quam nulla, quia rerum aliquid beatae in quidem.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab, delectus! Et atque distinctio doloremque modi quos cumque, eum voluptates odit maxime? Repellendus quam nulla, quia rerum aliquid beatae in quidem.